@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.product-list__container {
  display: grid;
  grid-template-columns: 1fr;
}

.product__container {
  margin: 1rem;
}

.image__container {
  display: flex;
  justify-content: center;
  max-width: 768px;
}

.product-image {
  width: 100%;
  max-width: 768px;
  box-shadow: t.$light-box-shadow;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: t.$light-secondary-bgcolor;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.title {
  font-size: 2rem;
}

@include mixins.desktop {
  .product-list__container {
    grid-template-columns: 1fr 1fr;
  }
}
