@use "../../../styles/abstracts/theme" as t;

.product-list__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product__container {
  margin: 1rem;
}

.product-image {
  height: 340px;
  width: 340px;
  box-shadow: t.$light-box-shadow;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: t.$light-secondary-bgcolor;

  &:hover {
    cursor: pointer;
  }
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.title {
  font-size: 2rem;
}
