@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.notification-list__container {
  position: absolute;
  background: t.$light-secondary-bgcolor;
  width: 380px;
  padding: 1rem;
  box-shadow: t.$light-box-shadow;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 780px;
}

.notification-list__header {
  font-size: 2.4rem;
}

.notification__container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background: t.$light-secondary-color;
  }

  &.active {
    background: t.$light-primary-bgcolor;
  }
}

.notification-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.body {
  position: relative;
  margin-left: 1rem;
}

.user-name {
  font-weight: 700;
}

.btn-area {
  margin-top: 1rem;
}

.date {
  font-size: 1.3rem;
}

.no-notifications {
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem;
}

.notification__container:hover .menu {
  visibility: visible;
}

.menu__container {
  position: relative;
}

.menu {
  position: absolute;
  background-color: t.$light-secondary-bgcolor;
  border-radius: 50%;
  right: 0;
  bottom: 15px;
  padding: 0.5rem;
  visibility: hidden;

  &:hover {
    filter: brightness(90%);
  }
}

.notification-menu {
  position: fixed;
  right: 200px;
  z-index: 1;
}

@include mixins.whenDarkModule {
  .notification-list__container {
    background: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }

  .notification__container {
    &:hover {
      background: t.$dark-secondary-color;
    }

    &.active {
      background: t.$dark-accent-color;
      color: t.$dark-primary-color;
    }
  }

  .menu {
    background-color: t.$dark-secondary-bgcolor;
    color: t.$dark-accent-color;

    &:hover {
      background-color: t.$dark-primary-color;
    }
  }

  .no-notifications {
    color: rgb(t.$dark-accent-color, 60%);
  }
}
