@use "../abstracts/variables" as v;
@use "../abstracts/colors" as c;

.btn {
  border-radius: 30px;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  font-size: 2rem;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.5;
}

a.btn--green,
.btn--green {
  background: v.$primary-color;
  color: v.$background-color;
}

a.btn--secondary,
.btn--secondary {
  background: v.$secondary-color;
  color: c.$dark-900;
}

.btn--small {
  width: 100px;
  height: 50px;
}

.btn--medium {
  width: 150px;
  height: 60px;
}

.btn--big {
  width: 200px;
  height: 70px;
}

.btn:hover.btn:disabled {
  background: v.$primary-color;
}

.btn--stretched {
  width: 100%;
}
