@use "../abstracts/variables" as v;
@use "../abstracts/theme" as t;
@use "../abstracts/mixins" as mixins;

.form-input {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  outline-color: v.$primary-color;
  border: 1px solid #dddfe2;
  margin: 0 1rem;
  &:hover {
    outline: auto;
    outline-color: v.$primary-color;
  }
}

.form-input--gray {
  background-color: v.$secondary-color;
}

@include mixins.whenDarkModule {
  .form-input--gray {
    background-color: t.$dark-primary-color;
  }
}
