@use "../../styles/abstracts/theme" as t;

.form-label {
  color: rgb(96, 103, 112);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 2rem;
}

@media (prefers-color-scheme: dark) {
  .form-label {
    color: t.$dark-accent-color;
  }
}
