@use "../../styles/abstracts/theme" as t;
@use "../abstracts/mixins" as mixins;

.form-label {
  color: rgb(96, 103, 112);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 2rem;
}

.label {
  color: rgb(96, 103, 112);
}

@include mixins.tablet {
  .form-label {
    font-size: 2rem;
  }
}

@include mixins.whenDark {
  .form-label {
    color: t.$dark-accent-color;
  }
}
