.tooltip-container {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: center;
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: 7rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
  width: max-content;
  z-index: 99;

  &.left {
    top: -20px;
    right: 5px;
  }
}
