@use "../../styles/abstracts/mixins" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.feed {
  width: 100%;
}

@include mixins.tablet {
  .container {
    width: 100%;
  }

  .feed {
    width: calc(100% - 40px);
  }
}
