@use "../../styles/abstracts/mixins" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

@include mixins.tablet {
  .container {
    width: 100%;
  }
}
