@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.login-logo {
  width: 200px;
  margin: 3rem;
}

.container {
  border-radius: 10px;
  padding: 2rem 1rem;
  min-width: 600px;
  box-shadow: t.$light-box-shadow;
  background-color: t.$light-secondary-bgcolor;
  margin-bottom: 10rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 500px;
}

@include mixins.tablet {
  .login-logo {
    width: 300px;
  }

  .heading {
    font-size: 3rem;
  }

  .resend__container {
    width: 600px;
  }
}

@include mixins.whenDarkModule {
  .container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
