.alert {
  padding-left: 2rem;
  font-weight: 500;
}

.alert--danger {
  color: red;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
/* Label */
.form-label {
  color: rgb(96, 103, 112);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 2rem;
}

/* Input */
.form-input {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  outline: 0;
  border: 1px solid #dddfe2;
  margin: 0 1rem;
}

.form-input--gray {
  background-color: #f5f6f7;
}

/* Select */
.form-select {
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

/* Radio */
.form-radio {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  outline: 0;
  border: 1px solid #dddfe2;
  margin: 0 1rem;
}

.radio-btn {
  height: 20px;
  width: 20px;
}

/* Button */
.btn {
  border-radius: 20px;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.btn:disabled {
  opacity: 0.5;
}

.btn--green {
  background: #025909;
  color: white;
}

.btn:hover {
  filter: brightness(90%);
}

.btn:hover.btn:disabled {
  background: #025909;
}

.btn--stretched {
  width: 100%;
}
