.btn {
  border-radius: 20px;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.btn:disabled {
  opacity: 0.5;
}

.btn--green {
  background: #025909;
  color: white;
}

.btn:hover {
  background: #02850d;
}

.btn:hover.btn:disabled {
  background: #025909;
}

.btn--stretched {
  width: 100%;
}
