@use "../../styles/abstracts/mixins" as mixins;

.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 2rem 0;
}

@include mixins.tablet {
  .feed {
    margin: 2rem;
    width: auto;
  }
}
