$white: #ffffff;

$green-000: #ebfbee;
$green-100: #d3f9d8;
$green-200: #b2f2bb;
$green-300: #8ce99a;
$green-400: #69db7c;
$green-500: #51cf66;
$green-600: #40c057;
$green-700: #37b24d;
$green-800: #2f9e44;
$green-900: #02690b;

$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$dark-000: #c1c2c5;
$dark-100: #a6a7ab;
$dark-200: #909296;
$dark-300: #5c5f66;
$dark-400: #373a40;
$dark-500: #2c2e33;
$dark-600: #25262b;
$dark-700: #1a1b1e;
$dark-800: #141517;
$dark-900: #101113;
