@use "../abstracts/colors" as c;

$dark-primary-color: c.$dark-900;
$dark-secondary-color: c.$dark-400;
$dark-accent-color: c.$white;
$dark-primary-bgcolor: c.$dark-700;
$dark-secondary-bgcolor: c.$dark-600;
$dark-box-shadow: 0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
  0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
  0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
