@use "./colors" as c;

$primary-color: c.$green-900;
$secondary-color: c.$gray-200;
$web-background-color: c.$green-100;
$background-color: c.$white;

$box-shadow: 0px 0px 5px 1px rgba(83, 83, 83, 0.363);

$nav-link-color: c.$gray-700;
