@use "../../styles/abstracts/theme" as t;

.chat__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.image__container {
  position: relative;
}

.user-image {
  border-radius: 50%;
}

.online {
  position: absolute;
  background-color: t.$light-primary-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  border: 2px solid t.$light-secondary-bgcolor;
}

.body {
  flex-grow: 1;
}

.message__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.date {
  width: max-content;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message,
.date {
  font-size: 1.3rem;
  font-weight: 300;
}
