@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.chat__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.image__container {
  position: relative;
}

.user-image {
  border-radius: 50%;
}

.online {
  position: absolute;
  background-color: t.$light-primary-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  border: 2px solid t.$light-secondary-bgcolor;
}

.body {
  flex-grow: 1;
}

.unread {
  font-weight: 900;
}

.message__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.date {
  width: max-content;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.unread.message,
.unread.date {
  font-weight: 900;
}

.message,
.date {
  font-size: 1.3rem;
  font-weight: 300;
}

.no-chat {
  background: t.$light-secondary-bgcolor;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
}

@include mixins.whenDarkModule {
  .no-chat {
    background: t.$dark-secondary-bgcolor;
    color: rgb(t.$dark-accent-color, 60%);
  }
}
