@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.login-logo {
  width: 200px;
  margin: 3rem;
}

.resend__container {
  border-radius: 10px;
  padding: 2rem 1rem;
  width: 350px;
  box-shadow: t.$light-box-shadow;
  background-color: t.$light-secondary-bgcolor;
}

@include mixins.tablet {
  .login-logo {
    width: 300px;
  }

  .heading {
    font-size: 3rem;
  }

  .resend__container {
    width: 600px;
  }
}

@include mixins.whenDarkModule {
  .resend__container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
