@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.editable-text__container {
  height: inherit;

  .editable {
    outline: 0;
    background-color: t.$light-secondary-bgcolor;
    border: 3px solid black;
    border-radius: 10px;
  }

  span {
    display: flex;
    align-items: center;
    height: inherit;
  }

  span.editable {
    width: 100%;
    min-width: 100px;
    min-height: 40px;
    padding: 0.5rem;
    &[data-placeholder]:empty::before {
      color: lightgray;
      content: attr(data-placeholder);
    }
  }

  textarea.editable {
    resize: none;
    width: 100%;
  }

  .uneditable {
    white-space: pre-wrap;
    height: inherit;
  }
}

@include mixins.whenDarkModule {
  .editable {
    outline: 0;
    background-color: t.$dark-primary-color;
    border: 3px solid black;
    border-radius: 10px;
  }
}
