@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.login-logo {
  width: 200px;
  margin: 3rem;
}

.form-login-container {
  width: 400px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: v.$box-shadow;
  background-color: v.$background-color;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.form {
  border-bottom: 1px solid lightgray;
}

.copyright {
  display: flex;
  font-weight: 600;
  & > a {
    text-decoration: underline;
  }
}

@include mixins.whenDarkModule {
  .form-login-container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
