.template {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "header"
    "main-content";
}

.header {
  grid-area: header;
  position: fixed;
  z-index: 1;
}

.container {
  grid-area: main-content;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .template {
    grid-template: 70px auto/ 25fr 50fr;
    grid-template-areas:
      "header header"
      "left-content main-content";
  }
}

@media screen and (min-width: 1024px) {
  .template {
    grid-template: 70px auto / 25fr 50fr 25fr;
    grid-template-areas:
      "header header header"
      "left-content main-content right-content";
  }
}
