@use "../../styles/utils/sizing" as s;
@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.loader {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-color: t.$light-secondary-bgcolor;
    max-width: 100%;
    max-height: 100%;

    @each $size, $value in s.$sizes {
      &.size--#{$size} {
        border: calc($value * 0.1) solid t.$light-secondary-color;
        border-top: calc($value * 0.1) solid t.$light-primary-color;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include mixins.whenDarkModule {
  .loader {
    & > div {
      background-color: t.$dark-secondary-bgcolor;

      @each $size, $value in s.$sizes {
        &.size--#{$size} {
          border: calc($value * 0.1) solid t.$dark-secondary-color;
          border-top: calc($value * 0.1) solid t.$dark-accent-color;
        }
      }
    }
  }
}
