@use "../../styles/utils/sizing" as s;
@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.loader {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > div {
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-color: t.$light-secondary-bgcolor;
    width: 100%;
  }
}

.color {
  border-top: solid t.$light-primary-color;
  border-left: solid t.$light-secondary-color;
  border-right: solid t.$light-secondary-color;
  border-bottom: solid t.$light-secondary-color;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include mixins.whenDarkModule {
  .loader {
    & > div {
      background-color: t.$dark-secondary-bgcolor;
    }
  }

  .color {
    border-top: solid t.$dark-accent-color;
    border-left: solid t.$dark-secondary-color;
    border-right: solid t.$dark-secondary-color;
    border-bottom: solid t.$dark-secondary-color;
  }
}
