.loader {
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #025909;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  background-color: white;
}

.loader.size--40 {
  border: calc(4rem * 0.2) solid #f3f3f3;
  border-top: calc(4rem * 0.2) solid #025909;
}

.loader.size--60 {
  border: calc(6rem * 0.2) solid #f3f3f3;
  border-top: calc(6rem * 0.2) solid #025909;
}

.loader.size--168 {
  border: calc(16.8rem * 0.2) solid #f3f3f3;
  border-top: calc(16.8rem * 0.2) solid #025909;
}

.loader.size--680 {
  border: calc(68rem * 0.2) solid #f3f3f3;
  border-top: calc(68rem * 0.2) solid #025909;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
