@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.container {
  margin-top: 1rem;
  width: 300px;
  position: relative;
}

.contacts {
  position: fixed;
}

.header {
  font-size: 1.7rem;
  font-weight: 600;
}

.no-contacts {
  display: block;
  margin: 1rem;
}

.user__container {
  display: flex;
  gap: 10px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;

  &:hover {
    background: t.$light-secondary-bgcolor;
    cursor: pointer;
  }
}

.user-image__container {
  position: relative;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-name {
  font-size: 1.5rem;
}

.online {
  position: absolute;
  background-color: t.$light-primary-color;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  border: 1px solid t.$light-secondary-bgcolor;
}

@include mixins.whenDarkModule {
  .user__container {
    &:hover {
      background: t.$dark-secondary-bgcolor;
    }
  }
}
