@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.new-comment__container {
  display: flex;
  margin: 1rem 0.5rem;
  padding-right: 1rem;
}

.new-comment__form {
  width: 100%;
}

.comment__user {
  border-radius: 20px;
}

.new-comment__description {
  border: 0;
  width: 100%;
  border-radius: 50px;
  outline: 0;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}

.comment__container {
  display: flex;
  margin: 1rem 0.5rem;
  align-items: flex-start;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: row;
}

.comment__body {
  background: v.$secondary-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.comment__user-name {
  font-weight: 600;
}

.comment__user-name:hover {
  text-decoration: underline;
}

.comment__description {
  font-weight: normal;
}

.comment-action {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.comment-action__item {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem;
}

.comment-action__item:hover {
  text-decoration: underline;
}

.comment__past-time {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
}

.comment__past-time:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment__past-time:hover .comment__date {
  opacity: 1;
  visibility: visible;
}

.comment__date {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 5px;
  visibility: hidden;
  display: block;
  opacity: 0;
  font-weight: 400;
  transition: opacity 0.5s;
}

@include mixins.whenDarkModule {
  .comment__body {
    background: t.$dark-secondary-color;
  }
}
