.feed {
  width: 100vw;
  max-width: 1024px;
  margin: 2rem 0;
}

@media screen and (min-width: 1024px) {
  .feed {
    margin: 2rem;
    width: calc(100vw - 300px);
  }
}

@media screen and (min-width: 1200px) {
  .feed {
    width: calc(100vw - 300px);
  }
}
