@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.form__container {
  background: t.$light-secondary-bgcolor;
  width: 100%;
  border-radius: 10px;
  box-shadow: t.$light-box-shadow;
}

.heading {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  border-bottom: 1px solid lightgrey;
}

.user {
  display: flex;
  margin-bottom: 2rem;
}

.user-image {
  border-radius: 3rem;
}

.user-name {
  margin-left: 1rem;
  font-weight: 700;
  height: 50%;
  padding-top: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.price {
  display: flex;
  flex-direction: row;
  margin: 1rem;

  & > select.field {
    border-radius: 10px 0 0 10px;
    border-right: none;
  }

  & > input.field {
    border-radius: 0 10px 10px 0;
  }
}

textarea.field {
  outline: 0;
  resize: none;
  font-weight: 400;
  height: 50px;
}

.field {
  border-radius: 10px;
  padding: 1rem;
  outline: 0;
  font-size: 2rem;
  border: 1px solid black;
}

@include mixins.whenDarkModule {
  .form__container {
    background: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
