@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/theme" as t;

.friend-request-list__container {
  margin: 4rem;
}

.friend-requests {
  display: flex;
}

.friend-request__container {
  max-width: 20rem;
  flex-direction: column;
  box-shadow: v.$box-shadow;
  border-radius: 10px;
}

.friend-request__user-image {
  display: flex;
  background-color: v.$background-color;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.friend-request__body {
  display: flex;
  flex-direction: column;
  background-color: v.$background-color;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.friend-request__user-name {
  font-size: 1.7rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  .friend-request__container {
    box-shadow: t.$dark-box-shadow;
  }

  .friend-request__body {
    background-color: t.$dark-secondary-color;
  }
}
