@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.friend-request-list__container {
  background: t.$light-secondary-bgcolor;
  border-radius: 10px;
  box-shadow: t.$light-box-shadow;
  padding: 2rem;
}

.friend-requests {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.friend-request__container {
  width: 20rem;
  flex-direction: column;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
}

.friend-request__user-image {
  display: flex;
  background-color: t.$light-secondary-color;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.friend-request__body {
  display: flex;
  flex-direction: column;
  background-color: t.$light-secondary-bgcolor;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.friend-request__user-name {
  font-size: 1.7rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.no-request {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem;
}

@include mixins.whenDarkModule {
  .friend-request__container {
    box-shadow: t.$dark-box-shadow;
  }

  .friend-request__body {
    background-color: t.$dark-secondary-color;
  }
}

@include mixins.desktop {
  .friend-requests {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
