@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.profile__container {
  padding: 0 20rem;
}

.profile__background {
  background: t.$light-gradient-color;

  width: 100vw;
  position: absolute;
  height: 730px;
  display: inline-block;
  box-shadow: t.$light-box-shadow;
  z-index: -1;
}

.background-image__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.background-image {
  background-color: t.$light-secondary-color;
  z-index: -1;
  position: absolute;
  max-width: 100%;
  width: 125rem;
  height: 45rem;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.edit-bg__container {
  position: absolute;
  top: 380px;
  right: 25px;

  & > div {
    position: relative;
    left: 70px;
  }
}

.profile__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 100%;
  height: 670px;
  padding-bottom: 0.5rem;
}

.profile-user {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-left: 4rem;
  padding-bottom: 2rem;
  width: 100%;
}

.profile-user__image {
  width: 16.8rem;
  height: 16.8rem;
  border-radius: 8.4rem;
  border: 5px solid white;
  background: t.$light-secondary-bgcolor;
}

.change-icon__container {
  position: relative;

  [id="upload-image"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

.change-icon {
  background-color: t.$light-secondary-color;
  border-radius: 30px;
  width: 10px;
  height: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 10px;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
}

.profile-user__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
}

.profile-user__info {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.profile-user__name {
  font-size: 3.2rem;
  font-weight: 700;

  &a {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(101, 103, 107);
    padding-top: 0.5rem;
  }
}

.profile-user__buttons-area {
  align-self: flex-end;
}

.profile-user__friends-qty:hover {
  text-decoration: underline;
}

.profile-options__container {
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid lightgray;
}

.profile-option {
  margin: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;

  &.active {
    font-weight: bold;
    border-bottom: 5px solid t.$light-primary-color;
    color: t.$light-primary-color;
  }
}

.profile-option:hover.profile-option:not(.active) {
  background: t.$light-secondary-color;
  background-size: cover;
  border-radius: 10px;
}

.profile-content-container {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &.show {
    display: flex;
  }
}

.dropdown-friend-menu {
  display: flex;
  flex-direction: column;
}

@include mixins.whenDarkModule {
  .profile__background {
    background: t.$dark-primary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }

  .change-icon {
    color: t.$dark-primary-color;
  }

  .profile-option {
    &.active {
      border-bottom: 5px solid t.$dark-accent-color;
      color: t.$dark-accent-color;
    }
  }

  .profile-option:hover.profile-option:not(.active) {
    background: t.$dark-secondary-color;
  }
}
