.size--40 {
  width: 4rem;
  height: 4rem;
}

.size--60 {
  width: 6rem;
  height: 6rem;
}

.size--168 {
  width: 16.8rem;
  height: 16.8rem;
}

.size--200 {
  width: 20rem;
  height: 20rem;
}

.size--680 {
  width: 68rem;
  height: 68rem;
}
