$sizes: (
  "40": 4rem,
  "60": 6rem,
  "80": 8rem,
  "168": 16.8rem,
  "200": 20rem,
  "680": 68rem,
);

@each $size, $value in $sizes {
  .size--#{$size} {
    width: $value;
    height: $value;
  }
}
