@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.modal__container {
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container.close {
  display: none;
}

.modal {
  background: t.$light-secondary-bgcolor;
  border-radius: 10px;
  width: 700px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  animation: popup 0.3s;
  transition: scale 0.3s;
}

.modal.close {
  scale: 0;
}

@keyframes popup {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.header {
  text-align: center;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
}

.body {
  border-top: 1px solid t.$light-secondary-color;
  padding: 1rem;
  white-space: pre-line;
}

.btn-area {
  display: flex;
  justify-content: flex-end;

  & button {
    padding: 1rem 3rem;
  }
}

.thumbnail__close {
  border: 1px solid black;
  border-radius: 32px;
  padding: 5px;
  right: 0;
  position: absolute;
  cursor: pointer;
  background: t.$light-secondary-bgcolor;

  &:hover {
    background: t.$light-secondary-color;
  }
}

.close__icon {
  font-size: 30px;
  color: t.$light-accent-color;
}

@include mixins.whenDarkModule() {
  .modal {
    background: t.$dark-secondary-bgcolor;
  }
}
