@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.modal__container {
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-modal {
  background: t.$light-secondary-bgcolor;
  border-radius: 10px;
}

.product-modal {
  display: grid;
  height: 80%;
  grid-template-columns: auto 300px;
}

.image__container {
  max-width: 1200px;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.header {
  text-align: center;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.thumbnail__close {
  border: 1px solid black;
  border-radius: 32px;
  padding: 5px;
  right: 0;
  position: absolute;
  cursor: pointer;
  background: t.$light-secondary-bgcolor;

  &:hover {
    background: t.$light-secondary-color;
  }
}

.close__icon {
  font-size: 30px;
  color: t.$light-accent-color;
}

.body {
  border-top: 1px solid t.$light-secondary-color;
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 800;
}

.description {
  font-size: 3rem;
  font-weight: 200;
}

.price {
  font-size: 3rem;
}

.user-image {
  width: 60px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: 700;
}

@include mixins.whenDarkModule() {
  .modal,
  .product-modal {
    background: t.$dark-secondary-bgcolor;
  }
}
