@use "../../styles/abstracts/theme" as t;

.setting-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  width: 100%;
  min-height: 50px;

  & span {
    font-weight: 700;
  }

  & button {
    padding: 0 2rem;
  }
}

.field {
  display: flex;
  gap: 10px;
}

.field-passwords {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  & > input {
    border-radius: 10px;
    outline: 0;
    border: 0;
    border: 3px solid t.$dark-primary-color;
    padding: 0.5rem;
  }
}

.field-select {
  display: flex;
  align-items: flex-start;
}

.select:disabled {
  border: 0;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 100%;
}

.select-editting {
  outline: 0;
  border-radius: 10px;
}

.btn-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
