@use "../../../styles/abstracts/variables" as v;

.form-register-container {
  box-shadow: v.$box-shadow;
  border-radius: 20px;
  background-color: v.$background-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccd0d4;
}
