@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.form-register-container {
  box-shadow: v.$box-shadow;
  border-radius: 20px;
  background-color: v.$background-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccd0d4;
}

@include mixins.whenDarkModule {
  .form-register-container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
