@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.navbar {
  display: flex;
  background-color: t.$light-secondary-bgcolor;
  height: 70px;
  align-items: center;
  box-shadow: t.$light-box-shadow;
}

.logo-container {
  padding-right: 8rem;
  position: relative;
}

.logo {
  position: absolute;
  height: 6rem;
  right: 10px;
}

.search-container {
  border-radius: 30px;
  background: t.$light-secondary-color;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-self: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s;
}

.navbar-nav {
  display: flex;

  width: 100vw;
  height: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 9rem;
  height: 5rem;
  justify-content: center;
  padding: 3.3rem;
  transition: transform 0.3s;

  & > i {
    color: rgba($color: t.$light-accent-color, $alpha: 0.7);
  }

  &:hover {
    background-color: t.$light-secondary-color;
    background-size: cover;
    border-radius: 10px;
    padding: 2rem;
    transform: scale(1.5);
  }

  &.active {
    border-bottom: 5px solid t.$light-primary-color;
    & > i {
      color: t.$light-primary-color;
    }

    &:hover {
      border-bottom: none;
    }
  }
}

.nav-center {
  display: none;
}

.nav-left {
  font-weight: bold;

  display: flex;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.user {
  margin: 0 2rem;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}

.user-image {
  border-radius: 2rem;
}

.user-name {
  margin-left: 1rem;
  padding-right: 1.5rem;
}

.menu {
  position: absolute;
  top: 70px;
  right: 0;
}

@include mixins.tablet {
  .nav-center {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .nav-left {
    flex: 1;
  }

  .navbar-nav {
    grid-template-columns: 40rem auto;
  }
}

@include mixins.desktop {
  .navbar-nav {
    grid-template-columns: 40rem 1fr auto;
  }
}

@include mixins.whenDarkModule {
  .navbar {
    box-shadow: t.$dark-box-shadow;
    background-color: t.$dark-secondary-bgcolor;
  }

  .user-name {
    color: t.$dark-accent-color;
  }

  .active-user {
    background-color: t.$dark-accent-color;
    & span {
      color: black;
    }
    &:hover {
      background-color: t.$dark-accent-color;
    }
  }

  .nav-link {
    & > i {
      color: rgba($color: t.$dark-accent-color, $alpha: 0.3);
    }

    &.active {
      border-bottom: 5px solid t.$dark-accent-color;
      & > i {
        color: white;
      }
    }

    &:hover {
      background-color: t.$dark-secondary-color;
      border-bottom: none;
    }
  }
}
