.navbar {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 70px;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(83, 83, 83, 0.363);
}

.navbar-nav {
  display: grid;

  grid-template-columns: 1fr;

  justify-content: space-between;
  width: 100vw;
  height: 60px;
}

.tooltip-text {
  position: absolute;
  top: 5.3rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem;
  border-radius: 5px;
}

.nav-link:link,
.search-icon {
  color: rgba(0, 0, 0, 0.55);
  transition: transform 0.3s;
}

.active.nav-link {
  color: #025909;
  border-bottom: 5px solid #025909;
}

.nav-link,
.tooltip-container {
  display: flex;
  align-items: center;
  width: 9rem;
  height: 5rem;
  justify-content: center;
  text-decoration: none;
}

.nav-link {
  padding: 3.3rem;
}

.nav-link:hover {
  background: rgba(240, 242, 245, 255);
  background-size: cover;
  border-radius: 10px;
  transform: scale(1.5);
  border-bottom: none;
  padding: 2rem;
}

.nav-right {
  display: none;
}

.nav-center {
  display: none;
}

.nav-left {
  font-weight: bold;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-container {
  border-radius: 30px;
  background: rgba(240, 242, 245, 255);
  padding: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-self: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s;
}

.search__form {
  display: flex;
  align-items: center;
  width: 31rem;
  height: inherit;
}

.search-container.expanded {
  width: inherit;
}

.expanded .search-icon {
  margin: 1rem;
}

.search {
  display: block;
  border: 0;
  padding: 1rem;
  outline: 0;
  background-color: transparent;
  width: inherit;
  height: inherit;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 30px;
}

.active.user {
  background-color: rgba(199, 255, 219, 0.8);
  color: #025909;
}

.user:hover {
  background: rgba(240, 242, 245, 255);
  background-size: cover;
}

.nav__user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

.nav__user-name {
  padding-right: 1.5rem;
}

.logo-container {
  padding-right: 8rem;
  position: relative;
}

.logo {
  position: absolute;
  height: 6rem;
  right: 10px;
}

.setting:hover .setting-menu {
  display: inline;
}

.setting-menu {
  position: absolute;
  top: 5rem;

  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem;
  border-radius: 5px;
  display: none;
}

a.setting-item {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav-left {
    justify-content: flex-start;
    width: auto;
  }

  .nav-right {
    font-weight: bold;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-nav {
    grid-template-columns: 40rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav-center {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    grid-template-columns: 40rem 1fr auto;
  }
}
