@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.people__container {
  background-color: v.$background-color;
  margin: 1rem;
  display: flex;
  align-items: center;
  max-width: 68rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: v.$box-shadow;
}

.people__info {
  display: flex;
  align-items: center;
}

.people__user-image {
  border-radius: 100px;
}

.people__name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.people__add-friend {
  font-size: 1.5rem;
  font-weight: 600;
}

@include mixins.whenDarkModule {
  .people__container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
