@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.login-logo {
  width: 200px;
  margin: 3rem;
}

.form-login-container {
  border-radius: 10px;
  padding: 2rem 1rem;
  width: 350px;
  box-shadow: t.$light-box-shadow;
  background-color: t.$light-secondary-bgcolor;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.form {
  border-bottom: 1px solid lightgray;
}

.copyright {
  display: flex;
  font-weight: 600;
  font-size: 1.8rem;
  & > a {
    text-decoration: underline;
  }
}

@include mixins.tablet {
  .login-logo {
    width: 300px;
  }

  .heading {
    font-size: 3rem;
  }

  .form-login-container {
    width: 600px;
  }

  .copyright {
    font-size: 3rem;
  }
}

@include mixins.desktop {
}

@include mixins.whenDarkModule {
  .form-login-container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
