@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.friend-request-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:global(.active) {
    & > .friend-request-count {
      background-color: v.$primary-color;
      color: v.$secondary-color;
    }
  }
}

.friend-request-count {
  padding: 0.5rem 1.2rem;
  background-color: v.$secondary-color;
  border-radius: 50px;
  font-weight: 800;
}

@include mixins.whenDarkModule {
  .friend-request-link {
    &:global(.active) {
      & > .friend-request-count {
        background-color: t.$dark-secondary-bgcolor;
        color: t.$dark-accent-color;
      }
    }
  }

  .friend-request-count {
    color: t.$dark-primary-color;
  }
}
