@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.friend-list__container {
  background-color: v.$background-color;
  border-radius: 10px;
  box-shadow: v.$box-shadow;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.friend-list {
  display: grid;
  grid-template-columns: 1fr;
}

.friend__container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 10px;
  background-color: v.$background-color;
}

.friend-image {
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.friend-name {
  font-weight: 700;
  margin-left: 1rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.result {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem;
}

@include mixins.desktop {
  .friend-list {
    grid-template-columns: 1fr 1fr;
  }
}

@include mixins.whenDarkModule {
  .friend-list__container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }

  .friend__container {
    border: 1px solid rgb(231, 230, 230);
    background-color: t.$dark-secondary-bgcolor;
  }

  .result {
    color: rgb(t.$dark-accent-color, 60%);
  }
}
