.search-filter {
  font-size: 1.7rem;
  font-weight: 600;
  display: inline-block;
  margin: 1.5rem;
}

.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 800;
}
