@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.menu__container {
  background-color: v.$background-color;
  padding: 0.7rem;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  box-shadow: v.$box-shadow;
}

.menu__heading {
  margin: 0;
  padding: 1.5rem;
  font-size: 2.4rem;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu__item {
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: v.$web-background-color;
    border-radius: 10px;
    cursor: pointer;
  }

  &.active {
    background-color: v.$web-background-color;
    border-radius: 10px;
    font-weight: 700;
    color: v.$primary-color;
  }

  & > span {
    padding: 1rem 2rem;
    background-color: v.$secondary-color;
    border-radius: 50px;
    font-weight: 800;
  }

  & > * {
    width: 100%;
    padding: 2rem;
  }
}

@include mixins.whenDarkModule {
  .menu__container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }

  .menu__item {
    &:hover {
      background-color: t.$dark-secondary-color;
    }

    &.active {
      background-color: t.$dark-accent-color;
      color: t.$dark-primary-color;

      & > span {
        background-color: t.$dark-secondary-bgcolor;
        color: t.$dark-accent-color;
      }
    }

    & > span {
      color: t.$dark-primary-color;
    }
  }
}
