.template {
  display: grid;
  grid-template-rows: 70px auto 1fr;
  grid-template-areas:
    "header"
    "left-content"
    "main-content";

  .header {
    grid-area: header;
    position: fixed;
    z-index: 1;
  }

  .container {
    grid-area: main-content;

    &.full {
      grid-area: 2/1/-2/4;
    }
  }

  .left-content {
    grid-area: left-content;
  }

  .right-content {
    grid-area: right-content;
  }
}

.footer {
  position: fixed;
  margin: 1rem;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .template {
    grid-template: 70px auto/ 25fr 50fr;
    grid-template-areas:
      "header header"
      "left-content main-content";
  }

  .container {
    &.center {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &.right {
      grid-area: 2/2/2/4;
    }
  }
}

@media screen and (min-width: 1024px) {
  .template {
    grid-template: 70px auto / 25fr 50fr 25fr;
    grid-template-areas:
      "header header header"
      "left-content main-content right-content";
  }
}
