@use "../../styles/abstracts/theme" as t;
@use "../../styles/abstracts/mixins" as mixins;

.post {
  background: white;
  max-width: 1200px;
  width: 100vw;
  border-radius: 10px;
  box-shadow: t.$light-box-shadow;
  margin-bottom: 2rem;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
}

.user-image {
  border-radius: 30px;
}

.user-name {
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  height: 50%;

  &:hover {
    text-decoration: underline;
  }
}

.post__past-time {
  width: fit-content;
  padding-left: 0.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  filter: brightness(70%);
  &:hover {
    cursor: pointer;
    text-decoration: underline;

    & .post-date {
      opacity: 1;
      visibility: visible;
    }
  }
}

.post-date {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 5px;
  visibility: hidden;
  display: block;
  opacity: 0;
  font-weight: 400;
  transition: opacity 0.5s;
  width: max-content;
}

.post-menu__container {
  position: relative;
  height: fit-content;
}

.menu-icon {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: t.$light-secondary-color;
    border-radius: 50%;
  }
}

.post-menu {
  position: absolute;
  top: 20px;
  right: 117px;
}

.description {
  padding: 1rem;
}

.post__image {
  width: 100%;
}

.footer {
  padding: 0.3rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.details-like:hover,
.details-share:hover,
.details-comment:hover {
  text-decoration: underline;
  cursor: pointer;
}

.details-share {
  margin-right: 2rem;
}

.action {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
}

.liked {
  color: t.$light-primary-color;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100vw;
  height: 50px;
  cursor: pointer;

  & > span {
    margin-left: 1rem;
  }

  &:hover {
    background: t.$light-secondary-color;
    background-size: cover;
    border-radius: 10px;
  }
}

.comments {
  border-top: 1px solid lightgrey;
  padding: 0 1rem;
  &.hidden {
    display: none;
  }
}

.more-comment,
.write-comment {
  padding: 0.8rem;
  color: rgb(101, 103, 107);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.no-post {
  background: white;
  border-radius: 10px;
  box-shadow: t.$light-box-shadow;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
}

@include mixins.whenDarkModule {
  .post {
    background: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }

  .icon {
    &:hover {
      background: t.$dark-secondary-color;
    }
  }

  .more-comment,
  .write-comment {
    color: t.$dark-accent-color;
  }

  .menu-icon {
    &:hover {
      background: t.$dark-secondary-color;
    }
  }
}
