@use "../../../styles/abstracts/theme" as t;
@use "../../../styles/abstracts/mixins" as mixins;

.people__container {
  background-color: t.$light-secondary-bgcolor;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  max-width: 68rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: t.$light-box-shadow;
}

.people__info {
  display: flex;
  align-items: center;
}

.people__user-image {
  border-radius: 100px;
}

.people__name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

@include mixins.tablet {
  .people__container {
    height: 120px;
  }

  .people__name {
    font-size: 2rem;
  }

  .people__user-image {
    transform: scale(1.2);
    margin: 0 1rem;
  }
}

@include mixins.desktop {
  .people__container {
    max-width: 100rem;
    height: 140px;
  }

  .people__name {
    font-size: 2.5rem;
  }

  .people__user-image {
    transform: scale(1.4);
    margin: 0 1.4rem;
  }
}

@include mixins.whenDarkModule {
  .people__container {
    background-color: t.$dark-secondary-bgcolor;
    box-shadow: t.$dark-box-shadow;
  }
}
