:root{
  --color-primary: rgb(240 242 245)
  --color-secondary: rgb(174 249 180)
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background: rgb(199 255 219 / 80%);
}

a:visited{
  color: black;
}

h1{
  font-size: 2rem;
}

