@use "./typography" as t;
@use "../abstracts/variables" as v;

html {
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-family: t.$font-family;
  font-size: 1.6rem;
  background: v.$web-background-color;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
